$white: #E9F2F2;
$pink: #4169E1;
$rose: #4169E1;
$tan: #F2CDC1;
$taupe: #D0B2AF;

@import url('https://fonts.googleapis.com/css?family=Questrial');

$font: 'Questrial', sans-serif;


html {
  min-height: 100%;

}

.header {
  display: table;
  position: relative;
  width: 100%;
  height: 700px;
  background: url('./assets/header.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .intro-message {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff;
  }
  .intro-message h1 {
    margin: 0;
    padding: 0;
    font-size: 5.5em;
    font-weight: 700;
    color: white;
  }
  .intro-message h2 {
    font-family: Redressed, cursive;
    font-size: 4em;
    color: white;
  }
  .intro-message h3 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    color: white;
  }
}


.contentbox{
  background: white;
  padding: 3%;
.box {

  display: inline-table;

  position: relative;
  #card-box {
    position: relative;
    margin: 30px;
    width: 200px;
    height: 200px;
    z-index: 1;
    float: left;
    perspective: 1000px;
  }
  

  
  #card, #card3 {
    width: 100%;
    height: 100%;
    margin: 5%;
    transform-style: preserve-3d;
    transition: all .6s linear;
    box-shadow: 5px 5px 15px rgba(0,0,0, .3);
  }
  
  #card {
    &:hover {
      transform: rotateY(180deg);
      box-shadow: -5px 5px 15px rgba(0,0,0, .3);
    }
  }
  
  #card3 {
    &:hover {
      transform: rotateX(180deg);
      box-shadow: 5px -5px 15px rgba(0,0,0, .3);
      
    }
    .back {
      transform: rotateX(-180deg);
    }
  }
  
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  .back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    opacity: .7;
    background: $white;
  }
  
  h1, p {
    font-family: $font;
    text-transform: uppercase;
    letter-spacing: 6px;
  }
  
  h1 {
    font-size: 1.2em;
    padding-top: 15px;
    color: $rose;
  
  }
  
  p {
    font-size: 1em;
  }
  
  .date {
    color: $taupe;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
    text-transform: uppercase;
    padding: 10px;
    color: #EA7996;
    a {
      color: #ffffff;
      text-decoration: none;
      &:hover {
        color: #7d7d7d;
      }
    }
  }

}

    
}

.contentContainer {
  padding:20px;
  max-width:100%;
  min-width:150px;


}
* {box-sizing: border-box}

.skill-container {
  width: 100%;
  background-color: #ddd;
  bottom: 5px;
 
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  bottom: 5px;
  padding: 4px;
  display: flex;
}

.card{
  height: 350px;
  margin: 5px;
  
}
.col-m{
  min-width: 20%;
  max-width: 20%;
}


